@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.Message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.Message .Container {
  position: absolute;
  top: 350px;
  width: 800px;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
}

.Message .join_button {
  position: absolute;
  top: 90px;
  left: 240px;
  width: 90px;
  height: 35px;
  background-color: #a161e1;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.Message .create_button {
  position: absolute;
  top: 90px;
  left: 340px;
  width: 120px;
  height: 35px;
  background-color: #93e16a;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.Message .cancel_button {
  position: absolute;
  top: 90px;
  left: 470px;
  width: 85px;
  height: 35px;
  background-color: #cacaca;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.Message h4 {
  position: absolute;
  top: 0;
  left: 240px;
  width: 500px;
  height: 30px;
  font-size: 20px;
}
